body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header {
  background-color: #4caf50;
  color: white;
  text-align: Left;
  padding: 15px;
  margin-bottom: 20px;
}

#container {
  margin: 0 auto;
  max-width: 800px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

#inputContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

#enterGeminikey {
  width: 200px;
  padding: 10px;
  box-sizing: border-box;
}

#promptContainer {
  display: flex;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

#enterPrompt {
  width: 250px;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  outline: none;
}

#responseContainer {
  flex-grow: 1;
  overflow-y: scroll;
  max-height: 400px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
}

#loader {
  display: none;
}

button {
  padding: 10px;
  margin-top: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
